@import url("style.css");

.logo {
  margin-right: 15rem;
  font-size: 24px;
  font-weight: 500;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding-top: 1rem;
  /* position: fixed; */
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links ul {
  display: flex;
  margin-right: 17rem;
}
.nav-links ul li {
  padding: 1rem;
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: ease-in-out 0.3s;
}
.nav-links ul li a:hover {
  color: red;
}
.nav-right {
  display: flex;
  padding-right: 2rem;
}
.join {
  margin-left: 2rem;
  width: 13rem;
  border: 1px solid #fff;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  background-color: black;
}
.btn {
  border-style: none;
  background-color: black;
  color: #fff;
  font-size: 14px;
  margin-right: 0.5rem;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
.fa-plus {
  border: 1px solid red;
  border-radius: 10px;
  height: 2.7rem;
  width: 44px;
  font-size: 25px;
  text-align: center;
  padding: 0.5rem;
  transition: ease 1s;
}
.fa-plus:hover {
  transform: rotateZ(360deg);
}
.fa-user {
  color: #fff;
  margin-top: 1.2rem;
  font-size: 24px;
  transition: ease-in-out 0.3s;
}
.fa-user:hover {
  color: red;
}
.hero {
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

.hero-text {
  color: #fff;
  width: 25rem;
  position: relative;
  font-size: 40px;
  top: 15rem;
  left: 45rem;
}
.hero-btn {
  width: 8rem;
  height: 3rem;
  position: relative;
  left: 45rem;
  top: 18rem;
}
.btn-hero {
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid red;
  color: #fff;
  background-color: black;
}
.btn-hero:hover {
  color: #fff;
  border: 1px solid #fff;
}
