@import url("style.css");

.logo {
  width: 8rem;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 5rem;
  padding-top: 1rem;
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
  margin-right: 17rem;
}

.nav-links ul li {
  padding: 1rem;
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: ease-in-out 0.3s;
}
.nav-links ul li a:hover {
  color: red;
}
.nav-right {
  display: flex;
  padding-right: 2rem;
}
.join {
  margin-left: 2rem;
  width: 13rem;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  background-color: black;
}
.btn {
  border-style: none;
  background-color: black;
  color: #fff;
  font-size: 14px;
  margin-right: 0.5rem;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
.fa-plus {
  border: 1px solid red;
  color: #fff;
  border-radius: 10px;
  height: 2.7rem;
  width: 44px;
  font-size: 25px;
  text-align: center;
  padding: 0.5rem;
  transition: ease 1s;
  background-color: red;
}
.fa-plus:hover {
  transform: rotateZ(180deg) scale(1.2);
}
.fa-user {
  color: #fff;
  margin-top: 1.2rem;
  font-size: 24px;
  transition: ease-in-out 0.3s;
}
.fa-user:hover {
  color: red;
}
.hero {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.main {
  background-image: url("/static/image/gym.jpg");
}

.hero-text {
  color: #fff;
  width: 25rem;
  position: relative;
  font-size: 40px;
  top: 15rem;
  left: 45rem;
}
.hero-btn {
  width: 8rem;
  height: 3rem;
  position: relative;
  left: 45rem;
  top: 18rem;
}
.btn-hero {
  width: 8rem;
  height: 3rem;
  font-size: 16px;
  border: 1px solid red;
  color: #fff;
  background-color: black;
  transition: ease-in-out 0.3s;
  border-radius: 10px;
}
.btn-hero:hover {
  color: #fff;
  border: 1px solid red;
  background-color: red;
}

.box-container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  background-image: url("/static/image/background.jpg");
}
.content-box {
  display: flex;
  justify-content: space-around;
  border: 10x solid red;
  margin-top: -5rem;
}

.box {
  border: 1px solid white;
  background-color: #fff;
  width: 400px;
  text-align: center;
  margin: 1rem;
  height: 330px;
  border-radius: 40px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease 0.3s;
  background-image: url("/static/image/background.jpg");
}
.bi {
  color: red;
  font-size: 60px;
  margin-top: 2rem;
}
.b-head {
  margin-top: 1rem;
  font-size: 26px;
  text-transform: uppercase;
}
.b-text {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: 500;
}
.box:hover {
  background-image: url("/static/image/bg-text.png");
}
.about {
  width: 100%;
  height: 90vh;
  background-image: url("/static/image/background.jpg");
  display: flex;
  justify-content: space-around;
}
.texts {
  width: 50%;
}
.a-head {
  border-bottom: 3px solid red;
  margin-left: 5rem;
  font-size: 28px;
}

.a-text {
  color: black;
  font-size: 35px;
  font-weight: 400;
  margin-top: 2rem;
  font-weight: 500;
  text-align: start;
  margin-left: 5rem;
}
.a-text-content {
  width: 500px;
  margin-top: 2rem;
  font-size: 20px;
  text-align: start;
  margin-left: 5rem;
}
.a-image {
  background-image: url("/static/image/girl-run.png");
  background-repeat: no-repeat;
  width: 50%;
}
.rotate {
  font-size: 130px;
  rotate: 270deg;
  position: relative;
  top: 5rem;
  left: -20rem;
  color: rgba(207, 207, 207, 0.4);
}

.a-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 0 2rem;
}
.trainer {
  width: 20%;
  border-right: 1px solid black;
}
.equip {
  width: 20%;
  border-right: 1px solid black;
}
.machines {
  width: 20%;
}
.a-img {
  width: 50%;
}
.icon-text {
  width: 150px;

  margin-left: -2rem;
}
.icon-text p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.a-btn {
  margin: 5rem 0 0 5rem;
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}
.a-btn a {
  width: 8rem;
  height: 3rem;
}
.a-btn:hover {
  background-color: red;
}
.provide {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  height: 22vh;
}
.provide-content {
  width: 40%;
}
.provide-text {
  font-size: 35px;
  font-weight: 500;
}
.provide-btn {
  width: 8rem;
  height: 3rem;
  border: 1px solid white;
  background-color: red;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}
.provide-btn a {
  width: 8rem;
  color: black;
  height: 3rem;
}

.provide-btn:hover {
  background-color: white;
}

.class-headers {
  text-align: center;
  margin-top: 3rem;
}
.class-headers h2 {
  font-size: 18px;
  text-transform: uppercase;
}
.class-headers p {
  font-size: 28px;
  font-weight: 500;
  margin-top: 1rem;
}
.class-container {
  display: grid;
  margin-top: 2rem;
  height: 100vh;
  grid-template-columns: 20rem 20rem 20rem 20rem;
  grid-template-rows: repeat(6, 20rem);
  justify-content: center;

  justify-content: center;
  grid-gap: 1rem;
}
.item {
  background-size: cover;
  filter: grayscale(100%);
  transition: all ease 0.3s;
  background-position: center;
}
.class-item-1 {
  grid-column: span 2;
  background-image: url("/static/image/classes/cycling.jpg");
}
.class-item-2 {
  background-image: url("/static/image/classes/karate.jpg");
}
.class-item-3 {
  background-image: url("/static/image/classes/powerlifting.jpg");
}
.class-item-4 {
  background-image: url("/static/image/classes/yoga.jpg");
}
.class-item-5 {
  background-image: url("/static/image/classes/mma.jpg");
}
.class-item-6 {
  grid-column: span 2;
  background-image: url("/static/image/classes/workout.jpg");
}

.item:hover {
  filter: none;
  transform: scale(1.03);
}
.item-content {
  position: relative;
  top: 13rem;
  padding-left: 1rem;
}
.item-content h2 {
  color: #fff;
}
.item-time {
  padding-top: 1rem;
}
.item-time p {
  color: #fff;
  font-size: 18px;
}
