@import url("style.css");

.nav {
  background-color: black;
  width: 100%;
  max-height: 10rem;
  color: white;
  display: flex;
  justify-content: flex-end;
}
.text {
  font-size: 22px;
  color: #fff;
  margin: 1rem;
  padding-top: 10px;
}
.error {
  text-align: start;
  text-transform: capitalize;
  font-size: 16px;
  color: red;
  margin-bottom: 0.2rem;
}
.btn {
  width: 7rem;
  background-color: black;
  height: 3rem;
  margin: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
}
.btn:hover {
  border: 1px solid red;
}
.btn a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 7rem;
  height: 3rem;
}
.logo {
  width: 7rem;
  position: absolute;
  top: -1rem;
  left: 3rem;
}
.logo img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  align-items: center;
  margin-top: 1rem;
  background-image: url("/static/image/background.jpg");
}
.heading {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.form-box {
  margin-top: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 2rem;
  width: 30rem;
}
.name-input input {
  width: 49%;
}
input {
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid red;
}
.submit {
  display: flex;
  justify-content: center;
}
.btn-submit {
  width: 8rem;
  height: 3rem;
  background-color: red;
  color: #fff;
  padding: 1rem;
}
.btn-submit:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}

/* for login page  */
.f-pass {
  margin-top: 0.5rem;
  text-align: center;
}
.f-pass a {
  color: black;
  text-decoration: none;
  transition: ease-in-out 0.5s;
}
.f-pass a:hover {
  color: red;
}
