{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reset Password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <style>
      @import url("/static/css/signup.css");
      .container {
        height: 100vh;
        margin: 0;
        justify-content: center;
      }
      {% comment %} Add css above this is clone of forget_pass.html {% endcomment %}
    </style>
  </head>
  <body>
    <form action="{% url 'reset_password' %}" method="POST">
      {% csrf_token %}
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Enter Username"
      />
      <input type="text" name="code" id="code" placeholder="code" />
      <input type="submit" value="Change Password" />
    </form>
    <script src="" async defer></script>
  </body>
</html>
