{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="sidebar">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="/static/image/logo.png" alt="logo" />
          </span>

          <div class="text header-text">
            <span class="name">Gymbooker</span>
            <!-- <span class="professional">Stream Now</span> -->
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="bx bx-search icon"></i>
            <input type="search" placeholder="search..." />
          </li>
          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-home-alt icon"></i>
                <span id="dashboard" class="text nav-text span-btn"
                  >Dashboard</span
                >
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-tv icon"></i>
                <span id="classes" class="text nav-text span-btn">Classes</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-movie-play icon"></i>
                <span id="activity" class="text nav-text span-btn"
                  >Activity</span
                >
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-podcast icon"></i>
                <span class="text nav-text btn">Schedule</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="bx bx-music icon"></i>
                <span class="text nav-text btn">Membership</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="bx bxs-folder-open icon"></i>
                <span class="text nav-text btn">Manage Account</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <li class="nav-link">
            <a href="{% url 'logout' %}">
              <i class="bx bx-log-out icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <li class="mode">
            <div class="moon-sun">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark Mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>
    <div class="dash-container container" id="dashboard-container">
      <div class="user-details">
        <p class="u-name">{{ fullName }}</p>
        <p class="u-age">User-age</p>
        <p class="u-sex">User-sex</p>
        <p class="u-dob">User-dob</p>
        <p class="u-package">User-package</p>
      </div>

      <div class="user-info">
        <div class="box-1 box">
          <h2 class="header">Joined class</h2>
          <p class="joined">Currently joined class</p>
          <p class="joined-detail">Details about joined class</p>
        </div>
        <div class="box-2 box">
          <h2 class="header">Activity</h2>
          <p class="joined">See your presence in the gym</p>
          <p class="joined-detail">Workout deatails</p>
        </div>

        <div class="box-3 box">
          <h2 class="header">Schedule</h2>
          <p class="joined">See your Schedule in the gym</p>
          <p class="joined-detail">Timings in the gym</p>
        </div>
      </div>
    </div>

    <div class="activity-container container" id="activity-container">
      <div class="activity-left">
        <h2 class="activity-title">Joined classes</h2>
        <p class="activity-text">Currently joined class &rarr;</p>
        <p class="lorem">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
          voluptatem illo eveniet inventore nisi delectus quam, totam blanditiis
          assumenda cupiditate ab repellat ex fuga? Minus, eaque tenetur cumque
          necessitatibus modi repellat. Error officiis perspiciatis, repudiandae
        </p>
      </div>
      <div class="activity-right">
        <h1 class="class-title">Weightlifting</h1>
        <img src="/static/image/classes/powerlifting.jpg" alt="class img" />
      </div>
    </div>

    <div class="classes-container container" id="class-container">
      <h2 class="class-header">Add additional classes to your package</h2>
      <div class="classes">
        <div class="class-1 class">
          <img src="/static/image/classes/cycling.jpg" alt="" />
          <div class="class-content">
            <h2 class="class-header">cycling</h2>
            <p class="trainer">
              <i class="fa-regular fa-user"> John doe</i>
              <i class="fa-regular fa-clock"> wed: 9: am</i>
            </p>
            <button class="btn join-btn"><a href="">Join now</a></button>
          </div>
        </div>
        <div class="class-2 class">
          <img src="/static/image/classes/karate.jpg" alt="" />
          <div class="class-content">
            <h2 class="class-header">karate</h2>
            <p class="trainer">
              <i class="fa-regular fa-user"> John doe</i>
              <i class="fa-regular fa-clock"> sat: 6: am</i>
            </p>
            <button class="btn join-btn"><a href="">Join now</a></button>
          </div>
        </div>
        <div class="class-3 class">
          <img src="/static/image/classes/yoga.jpg" alt="" />
          <div class="class-content">
            <h2 class="class-header">yoga</h2>
            <p class="trainer">
              <i class="fa-regular fa-user"> John doe</i>
              <i class="fa-regular fa-clock"> everyday 6: am</i>
            </p>
            <button class="btn join-btn"><a href="">Join now</a></button>
          </div>
        </div>
        <div class="class-4 class">
          <img src="/static/image/classes/mma.jpg" alt="" />
          <div class="class-content">
            <h2 class="class-header">MMA</h2>
            <p class="trainer">
              <i class="fa-regular fa-user"> John doe</i>
              <i class="fa-regular fa-clock"> sun: 7: am</i>
            </p>
            <button class="btn join-btn"><a href="">Join now</a></button>
          </div>
        </div>
        <div class="class-5 class">
          <img src="/static/image/classes/powerlifting.jpg" alt="" />
          <div class="class-content">
            <h2 class="class-header">powerlifting</h2>
            <p class="trainer">
              <i class="fa-regular fa-user"> John doe</i>
              <i class="fa-regular fa-clock"> sat: 5: pm</i>
            </p>
            <button class="btn join-btn"><a href="">Join now</a></button>
          </div>
        </div>
        <div class="class-6 class">
          <img src="/static/image/classes/workout.jpg" alt="" />
          <div class="class-content">
            <h2 class="class-header">workout</h2>
            <p class="trainer">
              <i class="fa-regular fa-user"> John doe</i>
              <i class="fa-regular fa-clock"> sat- fri: 6: am</i>
            </p>
            <button class="btn join-btn"><a href="">Join now</a></button>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/dashboard.js" async defer></script>
  </body>
</html>
