{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% comment %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    {% endcomment %}
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
  </head>
  <body>
    <nav class="sidebar">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="/static/image/logo.png" alt="logo" />
          </span>

          <div class="text header-text">
            <span class="name">Gymbooker</span>
            <!-- <span class="professional">Stream Now</span> -->
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="fa-solid fa-magnifying-glass icon"></i>
            <form action="{% url 'search' %}" method="POST">
              {% csrf_token %}
              <input type="search" name="search" placeholder="search..." class="search-field"/>
            </form>
            {% comment %} <input type="search" placeholder="search..." /> {% endcomment %}
          </li>
          <ul class="menu-links">
            <li class="nav-link">
              {% comment %} <a href="#dashboard-container"> {% endcomment %}
                <i class="fa-solid fa-house icon"></i>
                <span id="dashboard" class="text nav-text span-btn"
                  >Dashboard</span
                >
              </a>
            </li>
            <li class="nav-link">
              {% comment %} <a href="#class-container"> {% endcomment %}
                <i class="fa-solid fa-clipboard-list icon"></i>
                <span id="classes" class="text nav-text span-btn">Classes</span>
              </a>
            </li>
            {% comment %} <li class="nav-link">
              <a href="#activity-container">
                <i class="fa-solid fa-list-check icon"></i>
                <span id="activity" class="text nav-text span-btn">Activity</span
                >
              </a>
            </li> {% endcomment %}
            <li class="nav-link">
              {% comment %} <a href="#schedule-container"> {% endcomment %}
                <i class="fa-regular fa-clock icon"></i>
                <span class="text nav-text btn" id="schedule">Schedule</span>
              </a>
            </li>
            <li class="nav-link" id="#membership">
              {% comment %} <a href="#membership-container"> {% endcomment %}
                <i class="fa-solid fa-users-rectangle icon"></i>
                <span id="membership" class="text nav-text btn">Membership</span>
              </a>
            </li>
            <li class="nav-link">
              {% comment %} <a href="#manage-container"> {% endcomment %}
                <i class="fa-solid fa-gear icon"></i>
                <span id="manageAccount" class="text nav-text btn">Manage Account</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="bottom-content">
          <li class="nav-link">
            <a href="{% url 'logout' %}">
              <i class="fa-solid fa-arrow-right-from-bracket icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>

          <!-- <li class="mode">
            <div class="moon-sun">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark Mode</span>

            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li> -->
        </div>
      </div>
    </nav>
    <div class="dash-container container" id="dashboard-container">
      <div class="user-details">
        
        <p class="u-name"><i class="fa-solid fa-user nav-icon"></i>{{ customer_name.customer_fname }} {{ customer_name.customer_lname }}</p>
        <p class="u-age"><i class="fa-regular fa-id-badge nav-icon"></i>{{ customer_name.customer_age }}</p>
        <p class="u-sex"><i class="fa-solid fa-venus-mars nav-icon"></i>{{ customer_name.customer_gender }}</p>
        {% comment %} <p class="u-dob">{{ customer_name.customer_dob }}</p> {% endcomment %}
        {% if customer_name.customer_membership %}
          <p class="u-package"><i class="fa-solid fa-users-rectangle nav-icon"></i>{{ customer_name.customer_membership }}</p>
        {% else %}
          <p class="u-package"><i class="fa-solid fa-users-rectangle nav-icon"></i>Not Subscribed</p>
        {% endif %}
      </div>

      <div class="user-info">
        <div class="box-1 box">
          <!-- <img src="../static/image/classes/powerlifting.jpg" alt=""> -->
          <h2 class="header">Active class</h2>
          <p class="joined">
            {% for r_class in current_class %}
              <p class="joined-detail">{{r_class}}</p><br>
            {% endfor %}
            {% if current_class|length == 0 %}
              <p class="joined-detail">Wooh time to have some rest</p>
            {% endif %}
          </p>
          {% comment %} <p class="joined-detail">Details about joined class</p> {% endcomment %}
        </div>
        <div class="box-2 box">
          <!-- <img src="../static/image/trainer2.png" alt=""> -->
          <h2 class="header">Profile</h2>
          <p class="joined">See your presence in the gym</p>
          <p class="joined-detail">View your profile</p>
        </div>

        <div class="box-3 box">
          <!-- <img src="../static/image/bmi.png" alt=""> -->
          <h2 class="header">Schedule</h2>
          <p class="joined">
            {% for u_class in upcoming_classes %}
            <p class="joined-detail">{{ u_class }}</p>
            {% endfor %}
            {% if upcoming_classes|length == 0 %}
              <p class="joined-detail">Wooh time to have some rest</p>
              {% endif %}
          </p>
          {% comment %} <p class="joined-detail">Timings in the gym</p> {% endcomment %}
        </div>
      </div>
    </div>

    <div class="activity-container container" id="activity-container">
      <div class="activity-left">
        <h2 class="activity-title">Joined classes</h2>
        <p class="activity-text">Currently joined class &rarr;</p>
        <p class="lorem">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
          voluptatem illo eveniet inventore nisi delectus quam, totam blanditiis
          assumenda cupiditate ab repellat ex fuga? Minus, eaque tenetur cumque
          necessitatibus modi repellat. Error officiis perspiciatis, repudiandae
        </p>
      </div>
      <div class="activity-right">
        {% for j_classes in joined_classes %}
          {% comment %} <h1 class="class-title">{{j_classes.class_name}}</h1> {% endcomment %}
          <img src="/{{ j_classes.class_image }}" alt="class img" />
        {% endfor %}
      </div>
    </div>

    <div class="classes-container container" id="class-container">
      <h2 class="class-header">Add additional classes to your package</h2>
      <div class="classes">
        {% for class in classes %}
        <div class="class-1 class" data-modal-target=".preview-container-{{class.id}}">
          <img src="/{{ class.class_image }}" alt="" />
          <div class="class-content">
            <h2 class="class-header">{{ class.class_name }}</h2>
            <p class="trainer">
              <i class="fa-regular fa-user">{{ class.class_instructor }}</i>
              {% if class.class_day.count > 1 %}
                <i class="fa-regular fa-clock">
                  {{ class.class_day.first.day }} - {{ class.class_day.last.day }} : {{ class.class_time }}
                </i>
              {% else %}
                {% for day in class.class_day.all %}
                  <i class="fa-regular fa-clock">
                    {{ day.day }} - {{ day.day }} : {{ class.class_time }}
                  </i>
                {% endfor %}
              {% endif %}
            </p>
              {% if class not in joined_classes %}
              <button class="btn join-btn"><a href="{% url 'addclass' class.id %}">Join now</a></button>
              {% else %}
              <button class="btn joined-btn"><a href="{% url 'leaveClass' class.id %}">Leave</a></button>
              {% endif %}
          </div>
        </div>
        {% endfor %} 
       
      </div>
      {% for class in classes %}
      <div class="preview-container preview-container-{{class.id}}">
        <div class="preview-header">
          <h3>{{ class.class_name }}</h3>
          <button data-close-button class="preview-close">&times;</button>
        </div>
        <div class="preview-img">
          <img src="/{{ class.class_image }}" alt="" />
          <div class="timings">

          </div>
        </div>
        <div class="preview-info">
          <p>{{ class.class_info }}</p>
            {% if class not in joined_classes %}
              <button class="btn join-btn"><a href="{% url 'addclass' class.id %}">Join now</a></button>
              {% else %}
              <button class="btn joined-btn"><a href="#">Joined</a></button>
            {% endif %}
        </div>
      </div>
      {% endfor %}
      <div id="overlay"></div>

    </div>

    <div class="profile-container container">
      <div class="profile-nav">
        <div class="workout nav-box">
          <p class="current">Total Current Workouts</p>
          <p class="current-number">{{ count }}</p>
        </div>
        <div class="weight nav-box">
          <div class="difference">
            <p class="unit">KG'S</p>
            <p class="diference">-12Kg</p>
          </div>
          <div class="start-current">
            <p class="s-weigth starting">Start - {{ customer_name.customer_weight }}Kg</p>
            <p class="c-weigth current">Current - {{ customer_name.customer_weight }}Kg</p>
          </div>
        </div>
        <div class="bmi nav-box">
          <div class="difference">
            <p class="unit">BMI%</p>
            <p class="diference">-{{ customer_name.customer_bmi }}%</p>
          </div>
          <div class="start-current">
            <p class="s-bmi starting">Start - {{ customer_name.customer_bmi }}%</p>
            <p class="c-bmi current">Current - {{ customer_name.customer_bmi }}%</p>
          </div>
        </div>
      </div>
      <div class="profile-details">
        <div class="profile-img">
          <div class="profile-pic">
            <!-- {% if customer_name.customer_image %}
                <img src= "/{{ customer_name.customer_image }}" alt="img">
              {% else %}
                <i class="fa-solid fa-user"></i>
              {% endif %}
               -->
               <img src="../static/image/trainer1.png" alt="">
          </div>
          <div class="user-detail">
            <p class="name">{{ customer_name.customer_fname }} {{ customer_name.customer_lname  }}</p>
            <p class="email">{{ customer_name.customer_email }}</p>
            <p class="age">{{ customer_name.customer_age }}</p>
            <p class="gender">{{ customer_name.customer_gender }}</p>
            <p class="role">Active Plan</p>
            <button class="trainer-role" disabled="disabled">{{ customer_name.customer_membership }}</button>
          </div>
      
        </div>
       

        <div class="profile-info">
          <h3 class="info-header">Contact Information</h3>
          <div class="profile-contact">
            <div class="mobile">
              <p class="moble">Mobile</p>
              <p class="mobile-num">{{ customer_name.customer_phone }}</p>
            </div>
            <div class="social">
              <p>Date of Birth</p>
              <p class="social-name">{{ customer_name.customer_dob }}</p>
            </div>
            <div class="address">
              <p>Address</p>
              <p class="profile-address">{{ customer_name.customer_address }}</p>
            </div>
          </div>
        </div>
    
      </div>
    </div>
          <!-- <div class="activity-right">
        {% for j_classes in joined_classes %}
          {% comment %} <h1 class="class-title">{{j_classes.class_name}}</h1> {% endcomment %}
          <img src="/{{ j_classes.class_image }}" alt="class img" />
        {% endfor %}
      </div> -->
    </div>

    <!-- schedule-container -->

    <div class="schedule-container container">
      <h2 class="header schedule-header">Gym Timing</h2>
      <div class="working-hour">
        <h2 class="hours">working hours</h2>
        <p class="time m-f">
          Monday - Friday: 

          7:00 - 21:00
        </p>
        <p class="time sat">
          Saturday: 

          7:00 - 19:00
        </p>
        <p class="time sun">Sunday - Closed</p>
      </div>
      <div class="class-timing">
        <h2 class="hours">Class Timing</h2>
        <div class="classes">
          {% for j_class in joined_classes %}
          <div class="class-1 class">
            <img src="/{{ j_class.class_image }}" alt="" />
            <div class="class-content">
              <h2 class="class-header">{{ j_class.class_name }}</h2>
              <p class="trainer">
                <i class="fa-regular fa-user">{{ j_class.class_instructor }}</i>
                {% if j_class.class_day.count > 1 %}
                <i class="fa-regular fa-clock">
                  {{ j_class.class_day.first.day }} - {{ j_class.class_day.last.day }} : {{ j_class.class_time }}
                </i>
              {% else %}
                {% for day in j_class.class_day.all %}
                  <i class="fa-regular fa-clock">
                    {{ day.day }} - {{ day.day }} : {{ j_class.class_time }}
                  </i>
                {% endfor %}
              {% endif %}
              </p>
            </div>
          </div>
          {% endfor %} 
        </div>
        </div>
      </div>
    </div>

    <!-- Membership container -->
      
    <div class="membership-container container">
      <!-- <h2 class="header-mem">Membership</h2> -->

      <div class="member-status">
        <p class="joined-curr contain">Currently subscribed -  <span>{{ customer_name.customer_membership }}</span></p>
        <p class="joined-on contain">subscribed date -  <span>{{ customer_name.customer_membership_joinedDate }}</span></p>
        <p class="expires-on contain">expire date -  <span>{{ customer_name.customer_membership_exipredDate }}</span></p>
        <button class="change"><a href="{% url 'request_membership' %}">change membership</a></button>
        <button class="cancel mem-cancel"><a href="#">cancel membership</a></button>

      </div>
        <div class="cancel-membership-preview">
          <p>Do you want to cancel your membership?</p>
          <button class="change"><a href="{% url 'cancelmembership' %}">Confirm</a></button>
          <button class="cancel cancel-inside-preview">Cancel</button>
        </div>
        <div id="overlay-delete"></div>

      <div class="memberships">
        <div class="pricing-container">
          {% for packages in membership %}
          <div class="begineer-pack pack">
            <div class="pack-img">
              <img src="/{{ packages.membership_image }}" alt="image-1" />
            </div>
            <div class="begineer-content p-inside">
              <h2 class="price-heading">{{ packages.membership_name }}</h2>
              <h2 class="pack-price">Rs.{{packages.membership_price}} <i>per month</i></h2>
              <br>
              <div class="inside-list">
                <ul>
                  {% if packages.membership_fac1%}
                    <li>{{ packages.membership_fac1 }}</li>
                  {% endif %}
                  {% if packages.membership_fac2%}
                    <li>{{ packages.membership_fac2 }}</li>
                  {% endif %}
                  {% if packages.membership_fac3 %}
                    <li>{{ packages.membership_fac3 }}</li>
                  {% endif %}
                  {% if packages.membership_fac4%}
                    <li>{{ packages.membership_fac4 }}</li>
                  {% endif %}
                  {% if packages.membership_fac5%}
                    <li>{{ packages.membership_fac5 }}</li>
                  {% endif %}
              </div>
              {% if not current_membership %}
                <button class="purchase btn"><a href="{% url 'addmembership' packages.id %}">Purchase Now</a></button>
              {% elif current_membership == packages %}
                <button class="purchased btn" disabled><a>Purchased</a></button>
              {% else %}
                <button class="purchased btn invisible"><a href=""></a></button>
              {% endif %}
            </div>
          </div>
          {% endfor %}

          </div>
          <div class="confirm-membership-preview">
            <p>Do you want to purchase your membership for one month?</p>
            <button class="change">Confirm</button>
            <button class="cancel cancel-inside-preview">Cancel</button>
          </div>
      </div>
      
    </div>

    <!-- // manage account -->

              <div class="manage-container">
                <div class="manage-nav">
                  <h3 class="manage-header">Account settings</h3>
                  <div class="nav-btns">
                    <a href="{% url 'userreset_password' %}" ><button class="u-btn btns">Change Password</button></a>
                    <button class="d-btn btns" onclick="deletePre()">Delete Account</button>
                  </div>
                </div>
                <div class="profile-settings">
                  <div class="upload-container">
                    <div class="image-container">
                      {% if customer_name.customer_image %}
                        <img src= "/{{ customer_name.customer_image }}" alt="img">
                      {% else %}
                        <i class="fa-solid fa-user"></i>
                      {% endif %}
                    </div>
                    {% comment %} <i class="fa-regular fa-user"></i> {% endcomment %}
                    <p>image must be 256 x 256px -Max 2MB</p>
                    <div class="image-btn">
                      <form action="{% url 'update_image' %}" method = "POST" enctype="multipart/form-data" id="my-form">
                        {% csrf_token %}
                        <input type="file" name = "image" id="profile-pic" accept="image/*">
                        <label for="profile-pic">Choose a photo</label>
                      </form>
                      <a href="{% url 'delete_image' %}"><button class="btns d-btn">Delete image</button></a>
                    </div>
                  </div>
                  <div class="update-profile">
                    <div class="personal-info">
                      <h3>Update your profile information</h3>
                      <form action="{% url 'update_profile' %}" method="post">
                        {% csrf_token %}
                        <div class="name-input">
                          <input type="text" name="fname" id="fname" placeholder="First Name" value="{{ customer_name.customer_fname }}">
                          <input type="text" name="lname" id="lname" placeholder="Last Name" value="{{ customer_name.customer_lname }}">
                        </div>
                        <input type="email" name="email" id="email" placeholder="Email" value="{{ customer_name.customer_email }}">
                        <br>
                        <input type="number" name="phone" id="phone" placeholder="Phone Number" value="{{ customer_name.customer_phone }}">
                        <br>
                        <input type="date" name="dob" id="dob" placehomder="Date of Birth" value="{{ customer_name.customer_dob|date:'Y-m-d' }}">
                        <br>
                        <input type="name" name="address" id="address" placeholder="Address" value="{{ customer_name.customer_address }}">
                        <br>  
                        <button class="btns u-btn" type="submit">Update</button>
                      </form>
                    </div>
                    <div class="physical-info">
                      <h3>Update your physical info</h3>
                      <form action="{% url 'update_physical_info' %}" method="post">
                        {% csrf_token %}
                      <div class="bmi-input">
                        <input
                          type="number"
                          name="weight"
                          id="weight"
                          placeholder="Weight/Kg"
                          value="{{ customer_name.customer_weight }}"
                        />
                        <br>
              
                        <input
                          type="number"
                          name="height"
                          id="height"
                          placeholder="Height/Cm"
                          value="{{ customer_name.customer_height }}"
                        />
                        <br />
                        <button class="btns u-btn" type="submit">Update</button>
                        <p class="bmi-ans">Your current BMI is -  <span class="ans">{{ customer_name.customer_bmi }}</span></p>
                      </div>
                    </form>

                    </div>
                  </div>

                </div>
                 <div class="btn-preview">
                    <div class="dialog">
                      <p>permanantely delete your account</p>
                      <div class="dialog-btns">
                        <a href="{% url 'delete_account' %}"> <button class="delete-account d-btn btns">Delete</button></a>
                        <button class="u-btn btns cancel-btn">cancel</button>
                      </div>
                    </div>
                 </div>
                <div id="overlay-delete"></div>
              </div>

              <div class="search-container">

              </div>
              <div class="search-container">
                {% if classResult %} {% for classR in classResult %}
                <div class="classes">
                  <div
                    class="class-1 class"
                    data-modal-target=".preview-container-{{class.id}}"
                  >
                    <img src="/{{ class.class_image }}" alt="" />
                    <div class="class-content">
                      <h2 class="class-header">{{ classR.class_name }}</h2>
                      <p class="trainer">
                        <i class="fa-regular fa-user">{{ classR.class_instructor }}</i>
            
                        <i class="fa-regular fa-clock"> {{ classR.class_time }}</i>
            
                        <i class="fa-regular fa-clock"
                          >{{ classR.class_day.first.day }} - {{classR.class_day.last.day}}
                        </i>
                      </p>
            
                      <button class="btn join-btn">
                        <a href="#">Join now</a>
                      </button>
            
                      <button class="btn joined-btn">
                        <a href="#">Leave</a>
                      </button>
                    </div>
                  </div>
                </div>
                {% endfor %} {% endif %}
              </div>



    <script src="/static/js/dashboard.js" async defer></script>
  </body>
</html>
