{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/joinClass.css" />
  </head>
  <body>
    <main>
      <div class="navbar">
        <div class="logo">
          <a href="{% url 'landingpage' %}">
            <img
              class="hero-img"
              src="{% static '/image/logo.png' %}"
              alt="img-1"
            />
          </a>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="{% url 'landingpage' %}">Home</a></li>
            <li><a href="{% url 'landingpage' %}">About</a></li>
            <li><a href="{% url 'landingpage' %}">Classes</a></li>
            <li><a href="{% url 'landingpage' %}">Pricing</a></li>
            <li><a href="{% url 'joinclass' %}">Contact</a></li>
          </ul>
          <div class="nav-right">
            <a href="{% url 'signin' %}"><i class="fa-solid fa-user"></i></a>
          </div>
        </div>
      </div>
      <h2 class="contact-head">contact us</h2>
      <div class="contact-container">
        <div class="contact-text">
          <p class="text-head">We are here to help you! To Shape Your Body.</p>
          <p class="text-body">
            At GymBooker, we are dedicated to helping you achieve the body of your
            dreams. Our expert trainers will work with you to
            create a personalized fitness and nutrition plan that helps you
            reach your specific goals.
          </p>
        </div>
        <div class="form-container">
          <h2 class="form-header">Leave us your info</h2>
          <form action="{% url 'joinclass' %}" class="contact-form" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Full name" id="name" />
            <input
              type="email"
              name="email"
              placeholder="email address"
              id="email"
            />
            <select name="Select Class" id="s-class">
              <option selected disabled>Choose a class</option>
              {% for class in classes %}
                <option value="{{ class.class_name }}">{{ class.class_name }}</option>
              {% endfor %}
            </select>
            <textarea
              class="text-area"
              name="comment"
              placeholder="comment"
            ></textarea>
            <button type="submit" name="submit" class="submit btn">
              submit now
            </button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
