<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="navbar">
        <div class="logo">
          <img
            class="hero-img"
            src="{% static '/image/logo.png' %}"
            alt="img-1"
          />
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Classes</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="nav-right">
            <a href={% url 'signin' %}><i class="fa-solid fa-user"></i>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
