{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}" />

    <!-- font-awsome cdn  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- bootstrap cdn -->
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    />
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script> -->
  </head>
  <body>
    <section class="main">
      <div class="navbar">
        <div class="logo">
          <img
            class="hero-img"
            src="{% static '/image/logo.png' %}"
            alt="img-1"
          />
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="{% url 'landingpage' %}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#classes">Classes</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#bmi">BMI</a></li>
            <li><a href="{% url 'joinclass' %}">Contact</a></li>
          </ul>
          <div class="nav-right">
            <a href="{% url 'signin' %}"><i class="fa-solid fa-user"></i></a>
            <div class="join">
              <a href="{% url 'joinclass' %}">
                <i class="fa-solid fa-plus"></i>
                <button class="btn">JOIN CLASS NOW</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="hero">
        <div class="hero-text"><b>MAKE YOUR BODY</b> FIT & PERFECT</div>
        <div class="hero-btn">
          <a href="{% url 'joinclass' %}">
            <button class="btn-hero">Join our class</button>
          </a>
        </div>
      </div>
    </section>
    <div class="box-container">
      <div class="content-box">
        <div class="progress-box box">
          <i class="fa-solid fa-clock-rotate-left bi"></i>
          <h3 class="b-head">Progression</h3>
          <p class="b-text">
            Our team of experts will work with you to create a customized plan
            that helps you achieve success one step at a time.
          </p>
        </div>
        <div class="workout-box box">
          <i class="fa-solid fa-dumbbell bi"></i>
          <h3 class="b-head">workout</h3>
          <p class="b-text">
            With a variety of workouts to choose from, you'll have everything
            you need to get into the best shape of your life.
          </p>
        </div>
        <div class="classes box">
          <i class="fa-regular fa-calendar-check bi"></i>
          <h3 class="b-head">classes</h3>
          <p class="b-text">
            Our team will work with you to create a personalized meal plan that
            helps you reach your specific health goals.
          </p>
        </div>
      </div>
    </div>

    <div class="about" id="about">
      <div class="texts">
        <h3 class="a-head">Who we are</h3>
        <p class="a-text">Take Your Health And Body To Next Level</p>
        <p class="a-text-content">
          Take your health and body to the next level with our comprehensive
          program designed to help you reach your fitness goals.
        </p>
        <div class="a-icons">
          <div class="trainer">
            <img
              src="/static/image/weightlifter.png"
              class="a-img"
              alt="trainers img"
            />
            <div class="icon-text">
              <p>Professional Trainers</p>
            </div>
          </div>
          <div class="equip">
            <img
              src="/static/image/equpments.png"
              class="a-img"
              alt="equipments img"
            />
            <div class="icon-text">
              <p>Modern equipments</p>
            </div>
          </div>
          <div class="machines">
            <img src="/static/image/gym.png" class="a-img" alt="machines img" />
            <div class="icon-text">
              <p>Fancy Gym Machines</p>
            </div>
          </div>
        </div>
        <button class="btn a-btn"><a href="">Take A Tour</a></button>
      </div>
      <div class="a-image">
        <p class="rotate">Running</p>
      </div>
    </div>

    <div class="provide">
      <div class="provide-content">
        <p class="provide-text">
          We Are Always Providing Best Fitness Service For You
        </p>
      </div>
      <button class="provide-btn btn"><a href="">Join With Us</a></button>
    </div>

    <!-- Classes section -->

    <section class="class" id="classes">
      <div class="class-headers">
        <h2>Our Featured Class</h2>
        <p>We Are Offering Best Flexible Classes</p>
      </div>
      <div class="class-container">
        <div class="class-item-1 item">
          <div class="item-content">
            <h2>Cycling</h2>
            <div class="item-time">
              <p>Wednesday: 9:00am-10:00am</p>
            </div>
          </div>
        </div>
        <div class="class-item-2 item">
          <div class="item-content">
            <h2>Cycling</h2>
            <div class="item-time">
              <p>Wednesday: 9:00am-10:00am</p>
            </div>
          </div>
        </div>
        <div class="class-item-3 item">
          <div class="item-content">
            <h2>Cycling</h2>
            <div class="item-time">
              <p>Wednesday: 9:00am-10:00am</p>
            </div>
          </div>
        </div>
        <div class="class-item-4 item">
          <div class="item-content">
            <h2>Cycling</h2>
            <div class="item-time">
              <p>Wednesday: 9:00am-10:00am</p>
            </div>
          </div>
        </div>
        <div class="class-item-5 item">
          <div class="item-content">
            <h2>Cycling</h2>
            <div class="item-time">
              <p>Wednesday: 9:00am-10:00am</p>
            </div>
          </div>
        </div>
        <div class="class-item-6 item">
          <div class="item-content">
            <h2>Cycling</h2>
            <div class="item-time">
              <p>Wednesday: 9:00am-10:00am</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- BMI SECTION -->
    <section class="bmi-section" id="bmi">
      <div class="bmi-container">
        <div class="bmi-header">
          <h2>Let's Calculate your <span style="color: red">BMI</span></h2>
          <p>
            Easily determine your body mass index with our accurate calculation
            tool.
          </p>
        </div>
        <div class="bmi-input">
          <input
            type="number"
            name="weight"
            id="weight"
            placeholder="Weight/Kg"
          />

          <input
            type="number"
            name="height"
            id="height"
            placeholder="Height/Cm"
          />
          <br />
          <button class="calculate btn">Calculate</button>
          <p class="bmi-ans">your bmi is: <span class="ans">0</span></p>
        </div>
      </div>
      <div class="bmi-img"></div>
    </section>

    <!-- Pricing section -->

    <section class="pricing" id="pricing">
      <div class="p-headings">
        <h2 class="p-head">pricing chart</h2>
        <p class="p-plan">exclusive pricing plan</p>
        <p class="p-text">
          Gymbooker an unknown printer took a galley of type and scrambled
          <br />make a type specimen book.
        </p>
      </div>
      <div class="pricing-container">
        <div class="begineer-pack pack">
          <div class="pack-img">
            <img src="/static/image/pricing/img1.jpg" alt="image-1" />
          </div>
          <div class="begineer-content p-inside">
            <h2 class="price-heading">Begineers</h2>
            <h2 class="pack-price">Rs.2069 p/m</h2>
            <div class="inside-list">
              <ul>
                <li>Free Hand</li>
                <li>Gym Fitness</li>
                <li>Weight Loss</li>
                <li>personal training</li>
                <li>cycling</li>
              </ul>
            </div>
            <button class="purchase btn"><a href="">Purchase Now</a></button>
          </div>
        </div>
        <div class="medium-pack pack">
          <div class="pack-img">
            <img src="/static/image/pricing/img2.jpg" alt="image-2" />
          </div>
          <div class="medium-content p-inside">
            <h2 class="price-heading">Advanced</h2>
            <h2 class="pack-price">Rs.3036 p/m</h2>
            <div class="inside-list">
              <ul>
                <li>Free Hand</li>
                <li>Gym Fitness</li>
                <li>Weight Loss</li>
                <li>personal training</li>
                <li>cycling</li>
              </ul>
            </div>
            <button class="purchase btn"><a href="">Purchase Now</a></button>
          </div>
        </div>
        <div class="pro-pack pack">
          <div class="pack-img">
            <img src="/static/image/pricing/img3.jpg" alt="image-3" />
          </div>
          <div class="pro-content p-inside">
            <h2 class="price-heading">Professional</h2>
            <h2 class="pack-price">Rs.5036 p/m</h2>
            <div class="inside-list">
              <ul>
                <li>Free Hand</li>
                <li>Gym Fitness</li>
                <li>Weight Loss</li>
                <li>personal training</li>
                <li>cycling</li>
              </ul>
            </div>
            <button class="purchase btn"><a href="">Purchase Now</a></button>
          </div>
        </div>
      </div>
    </section>

    <!-- footer section -->

    <footer>
      <section class="footer-section">
        <div class="site-details">
          <div class="logo">
            <img
              class="hero-img"
              src="{% static '/image/logo.png' %}"
              alt="img-1"
            />
            <h2 class="site-name">Gymbooker</h2>
          </div>
          <p class="description">
            Take your health and body to the next level with our comprehensive
            program designed to help you reach your fitness goals.
          </p>
          <div class="find-us">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </div>
        </div>
        <div class="classes-links">
          <h2 class="link-header">our classes</h2>
          <ul>
            <li><a href="">fitness classses</a></li>
            <li><a href="">aerobic classes</a></li>
            <li><a href="">power yoga</a></li>
            <li><a href="">learn machines</a></li>
            <li><a href="">full-body strength</a></li>
          </ul>
        </div>
        <div class="working-hour">
          <h2 class="hours">working hours</h2>
          <p class="time m-f">
            Monday - Friday: <br />
            <br />
            7:00 - 21:00
          </p>
          <p class="time sat">
            Saturday: <br />
            <br />
            7:00 - 19:00
          </p>
          <p class="time sun">Sunday - Closed</p>
        </div>
      </section>
    </footer>

    <script src="/static/js/landingpage.js" async defer></script>
  </body>
</html>
