{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reset Password</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/signup.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

    <style>
      @import url("../static/css/signup.css");
      .container {
        height: 100vh;
        margin: 0;
      }
      .container i{
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 25px;
        color: red;
        
      }
      .show-pass{
        position: absolute;
        top: 5;
        left: 10;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <i class="fa-solid fa-left-long"></i>
      <h2 class="heading">Enter your new password</h2>
      <form action="{% url 'reset_passwordDone' %}" method="POST">
        {% csrf_token %}
        <div class="password-input">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <i class="fa-regular fa-eye show-pass"></i>
          <div class="error"></div>
        </div>

        <div class="c_pass-input">
          <input
            type="password"
            name="c_password"
            id="c_password"
            placeholder="Confirm Password"
          />
          <div class="error">{{ message }}</div>
        </div>
        <div class="submit">
          <input class="btn-submit" type="submit" name="submit" value="Reset" />
        </div>
      </form>
    </div>
    <script src="../static/js/validate.js"></script>
  </body>
</html>
