{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sign up</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />

    <script src="/static/js/validate.js" defer></script>
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="{% url 'landingpage' %}">
          <img
            class="hero-img"
            src="{% static '/image/logo.png' %}"
            alt="img-1"
          />
        </a>
      </div>
      <p class="text">Already have an account?</p>
      <button class="btn login"><a href="{% url 'signin' %}">Login</a></button>
    </div>
    <div class="container">
      <div class="form-box">
        <h2 class="heading">Create an account</h2>
        <form action="{% url 'signup' %}" method="post" id="form">
          {% csrf_token %}
          <div class="name-input">
            <input
              type="text"
              name="fname"
              placeholder="First Name"
              id="fname"
            />
            <input
              type="text"
              name="lname"
              placeholder="Last Name"
              id="lname"
            />
            <div class="error"></div>
          </div>
          <div class="username-input">
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Username"
            />
            <div class="error"></div>
          </div>

          <div class="email-input">
            <input type="text" name="email" id="email" placeholder="E-mail" />
            <div class="error"></div>
          </div>

          <div class="password-input">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
            />
            <div class="error"></div>
          </div>

          <div class="c_pass-input">
            <input
              type="password"
              id="c_password"
              name="c_password"
              placeholder="Confirm Password"
            />
            <div class="error"></div>
          </div>

          <div class="submit">
            <input
              class="btn-submit"
              type="submit"
              name="submit"
              value="Submit"
            />
          </div>
        </form>
      </div>
      <p>{{ acc_created }}</p>
      {% comment %} plsease add js to redirect after showing this msg for
      ceratin second {% endcomment %}
    </div>
  </body>
</html>
